head a, a:link, a:hover, a:focus, a:active, a:visited {
      color: white;
      text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 400%;
    margin-bottom: 1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.section {
    float: right;
}

body{
    font-family: sans-serif;
    background-color: darkcyan; 
}

body nav li {
    display: inline;
    padding: 5px;
    font-family: helvetica;
    font-size: 20px;
    color: white;
    text-decoration: none;

  }

body nav li a{
    text-decoration: none;

  }

nav {
      text-align: center;
      margin-bottom: 2%;
}

p {
    color: black;
    text-align: center;
}
div p {
  color: white;
}
body div h2 {
    color: white;
    text-align: left;
}

.info {
    text-align: left;
    color: white;
}

.order {
    color: white;
}

.text {
  color: black;
}

.island {
    text-align: left;
    color: darkcyan;

}
.background {
    text-align: left;
     
}

h3 {
    color: white;
  }

ul li {
      color: black;
  }

.tab {
    margin-left: 40px;
    color: white;
  }

p .tab {
    margin-left: 40px;
  }

.mid {
    text-align: center;
  }

.my-class {
    margin: 12px;
    padding: 4px;
    color: white;
  }